.idea
BigData-Spark.iml
*.class
Day06/target
.idea/artifacts/
.idea/compiler.xml
.idea/hydra.xml
.idea/libraries/
.idea/misc.xml
.idea/scala_compiler.xml
.idea/uiDesigner.xml
.idea/workspace.xml
Day06/src/test/
Day06/target/
Day07/target
Day06/src/main/java/com/
Day07/src/
Day07/target/.scala_dependencies
Day07/target/generated-sources/
Day08/target
Day08/pom.xml
Day08/src/main/java/
Day08/src/main/resources/
Day08/src/test/
Day08/target/.scala_dependencies
Day08/target/generated-sources/
src/
